---
import Layout from "@/layouts/Layout.astro";
import Solve from "@/components/solve.vue";
---

<Layout title="上海疆通科技有限公司" active="3">
  <main>
    <div class="w-full">
      <Solve client:visible />
    </div>
  </main>
</Layout>

<style></style>
