---
const url = 'https://autoreport.site:8888/api/files/eo6yu3ejwzi4296'
const list = await fetch(
  'https://autoreport.site:8888/api/collections/company/records',
)
const { items } = await list.json()
const CompanyList = items.map((item: any) => {
  return {
    title: item.title,
    content: item.content,
    img: `${url}/${item.id}/${item.img}`,
  }
})
---

<div class="w-full h-[550px] pt-[60px] px-[20%] mb-[60px]">
  <h1 class="text-[40px] text-[#333] font-[500] m-0">我们的客户</h1>
  <h2 class="text-[26px] text-[#ccc] font-[500] p-0 mb-[13px] mt-0">
    Our customers
  </h2>
  <div class="my-[60px] relative flex">
    {
      CompanyList.map((item: any) => (
        <div class="pl-[10px] pr-[10px]">
          <img
            src={item.img}
            alt="图片"
            class="vertical-align-middle overflow-clip w-[100%]"
          />
        </div>
      ))
    }
  </div>
</div>
